NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_WHATSAPP_NUMBER=
ADMIN_USER=
ADMIN_PASSWORD=
SUPERFRETE_TOKEN=
SUPERFRETE_ORIGIN_CEP=
INFINITEPAY_HANDLE=
INFINITEPAY_WEBHOOK_SECRET=
